* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepage-link {
    position: fixed;
    bottom: 10px;
    left: 18px;
    width: 100px;  
    height: 100px;
}

.house {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 10px;
}

.homepage-link:hover img {
    filter: brightness(1.2); 
    transform: scale(1.05);  
    transition: all 0.3s ease;
}

body {
    min-height: 100vh;
    background: linear-gradient(rgb(3, 20, 26),rgb(2, 1, 15));
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.head {
    width: 110px;
    height: 80px;
    background: linear-gradient(to bottom, gray,rgb(35, 35, 35));
    border-radius:  30px 30px 20px 20px;
    position: relative;
}

.innerbulb {
    width: 86px;
    height: 68px;
    background: rgba(255, 255, 255, 0.075);
    box-shadow: inset 0 5px 10px rgba(255, 255, 255, 0.414);
    border-radius: 27px 27px 16px 16px;
    margin: 15px auto;
    position: relative;
    top:3px;
}

.pull {
    position: absolute;
    top: 80.5px;
    left: 26px;
}

.pull1 {
    width: 1.2px;
    height: 40px;
    background-color: rgba(240, 248, 255, 0.291);
}

.pull2 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0.291);
    box-shadow: inset 0 1.7px 2px rgba(255, 255, 255, 0.414);
    position: relative;
    left: -3px;
    
}

.pull:hover .pull1 {
    height: 48px;
    transition: height 0.3s ease;
} 

.pull:active .pull1 {
    height: 56px;
    transition: height 0.3s ease;
} 


.stem {
    width: 9px;
    height: 70px;
    background: linear-gradient(to right, rgb(37, 20, 6),rgb(155, 111, 62),rgb(115,73, 33));
    margin: 0 auto;
}

.base {
    width: 85px;
    height: 12px;
    background: linear-gradient(to bottom, #4a4848 0%,#262424 40%,#100f0f 100%);
    box-shadow: 0 6px 15px rgba(0,0,0,0.4);
    border-radius: 30%;
    margin: 0 auto;
}

.light {
    width: 280px;
    height: 270px;
    background: rgb(157, 155, 155);
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    top: 310px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}