* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepage-link {
    position: fixed;
    bottom: 10px;
    right: 18px;
    width: 100px;  
    height: 100px;
}

.house {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 10px;
}

.homepage-link:hover img {
    filter: brightness(1.2); 
    transform: scale(1.05);  
    transition: all 0.3s ease;
}

pre {
    font-family: monospace;
    white-space: pre;
}

body {
    display: flex;
    justify-content: flex-start;  
    align-items: flex-end;  
    height: 100vh;
    padding-left: 200px;
    padding-bottom: 170px;
    background: linear-gradient(to bottom,#f2f2f2 0%,#f2f2f2 50%,#dff3f5 59%,#7aced3 68%,#7aced3 71%,white 80%,#ffc280 82%,#ffc280 88%,#f2f2f2 100%);
    background-size: 100% 130%;
    animation: wave 3s ease-in-out infinite alternate;

}

@keyframes wave {
    from {
        background-position: 0% 100%;
    }
    to {
        background-position: 0% 85%;
    }
}
